- content_for :outside_container do
  %nav.sub-nav.navbar.navbar-default.navbar-static-top(role="navigation")
    .container-fluid
      .navbar-header
        %a{class: "navbar-brand", href: league_path(@league)} #{@league.name} (#{@league.start_date.year})

      - if policy(@league).sync?
        = link_to "Sync this league with Yahoo", sync_league_path(@league), method: :post, class: "btn btn-info navbar-btn"
      - if @league.sync_finished_at
        %p.navbar-text
          Last synced #{time_ago_in_words(@league.sync_finished_at)} ago.

.row
  .col-md-8
    %ul.nav.nav-pills
      %li{class: current_page?(controller: 'leagues', action: 'show') && "active"}= link_to "Random Stats", league_path(@league)
      %li{class: current_page?(controller: 'leagues', action: 'draft_board') && "active"}= link_to "Post Draft Visualization Board", draft_board_league_path(@league)
      %li{class: current_page?(controller: 'leagues', action: 'playoffs') && "active"}= link_to "Playoffs", playoffs_league_path(@league)
  .col-md-4
    = render "shared/small_google_ad"

