- content_for :outside_container do
  %nav.sub-nav.navbar.navbar-default.navbar-static-top(role="navigation")
    .container-fluid
      .navbar-header
        %a{class: "navbar-brand", href: league_path(@league)} #{@league.name} (#{@league.start_date.year})

      %p.navbar-text.pull-left
        - if policy(@league).sync?
          = link_to "Sync this league with Yahoo", sync_league_path(@league), method: :post, class: "btn btn-info navbar-btn"
        - if @league.sync_finished_at
          Last synced #{time_ago_in_words(@league.sync_finished_at)} ago.
      %p.navbar-text
        Share this league:
        .league-social-button
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Fantasy football visualizations for #{@league.name}" data-via="rosterbaterapp" data-count="none">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        .league-social-button
          <div class="fb-share-button" data-href="#{request.original_url}" data-layout="button"></div>

.row
  .col-md-8
    %ul.nav.nav-pills
      %li{class: current_page?(controller: 'leagues', action: 'show') && "active"}= link_to "Sortable Stats", league_path(@league)
      %li{class: current_page?(controller: 'leagues', action: 'charts') && "active"}= link_to "Charts", charts_league_path(@league)
      %li{class: current_page?(controller: 'leagues', action: 'draft_board') && "active"}= link_to "Post Draft Visualization Board", draft_board_league_path(@league)
      %li{class: current_page?(controller: 'leagues', action: 'playoffs') && "active"}= link_to "Playoff and Record Scenarios", playoffs_league_path(@league)
      %li{class: current_page?(controller: 'leagues', action: 'parity') && "active"}= link_to "Parity", parity_league_path(@league)
      - if !current_user
        %li= link_to "Get this for your league", root_path, class: "btn-danger"

  .col-md-4
    = render "shared/google_sub_nav_ad"

