%h3 Your leagues

- if policy(:league).refresh?
  = link_to "Refresh", refresh_leagues_path, method: :post, class: "button small"
- else
  %p
    Cannot refresh right now

- if current_user.synced_at
  %p Last refreshed #{time_ago_in_words(current_user.synced_at)} ago.

- if @leagues.empty?
  No leagues present. Please refresh.
- else
  %table.table
    %thead
      %tr
        %th Year
        %th(width="33%") Name
        %th Number of teams
        %th Current Week
        %th Start Date
        %th End Date
    %tbody
      - @leagues.each do |league|
        %tr
          %td
            = league.start_date.year
          %td
            = link_to league.name, league_path(league)
          %td
            = league.num_teams
          %td
            = league.current_week
          %td
            = league.start_date
          %td
            = league.end_date

