.container
  %h3 Your leagues

  - if policy(:league).refresh?
    = link_to "Sync your leagues with Yahoo", refresh_leagues_path, method: :post, class: "btn btn-primary btn-lg"

  - if current_user.sync_finished_at
    %p Last synced #{time_ago_in_words(current_user.sync_finished_at)} ago.

  - if @leagues.empty?
    No leagues present. Please sync your leagues with Yahoo.
  - else
    %table.table
      %thead
        %tr
          %th(width="33%") Name
          %th Year
          %th Number of teams
          %th Current Week
          %th Start Date
          %th End Date
      %tbody
        - @leagues.each do |league|
          %tr
            %td
              = link_to "Go", league_path(league), class: "btn btn-primary btn-lg"
              = link_to league.name, league_path(league)
            %td
              = league.start_date.year
            %td
              = league.num_teams
            %td
              = league.current_week
            %td
              = league.start_date
            %td
              = league.end_date

