%h3= @league.name

%ul.button-group
  %li= link_to "Draft board", draft_board_league_path(@league), class: "button"
  %li= link_to "Sync", sync_league_path(@league), method: :post, class: "button secondary"

- if @league.teams.empty?
  No teams present. Please refresh.
- else
  %table
    %thead
      %tr
        %th(width="33%") Name
    %tbody
      - @league.teams.each do |team|
        %tr
          %td
            - if team.managers.map(&:yahoo_guid).include?(current_user.yahoo_uid)
              %strong= team.name
            - else
              = team.name


