- load_javascript_class "LeagueShowPage"

.row
  = render "leagues/navigation"

  .col-sm-10.col-sm-offset-2
    .page-header
      %h2
        Random Stats
        %small (sortable)
    - if @league.teams.empty?
      No teams present. Please sync this league with Yahoo.
    - else
      - team_attrs = %w(waiver_priority faab_balance number_of_moves number_of_trades has_clinched_playoffs points_for points_against rank wins losses ties)
      %table#league-teams
        %thead
          %tr
            %th(width="33%") Name
            - team_attrs.each do |attr|
              %th= attr.humanize
        %tbody
          - @league.teams.each do |team|
            %tr
              %td
                - if current_user && team.managers.map(&:yahoo_guid).include?(current_user.yahoo_uid)
                  %strong= team.name
                - else
                  = team.name
              - team_attrs.each do |attr|
                %td= team.public_send(attr)

    - if !@league.matchups.empty?
      .page-header
        %h4
          Matchups
          %small (sortable)

      %table#league-matchup-teams
        %thead
          %tr
            %th(width="33%") Name
            %th Week
            %th Opponent
            %th Points
            %th Projected Points
            %th Points - Projected
        %tbody
          - @league.finished_matchup_teams.each do |matchup_team|
            %tr
              %td= matchup_team.team.name
              %td= matchup_team.matchup.week
              %td= matchup_team.opponent_matchup_team.team.name
              %td= matchup_team.points
              %td= matchup_team.projected_points
              %td= matchup_team.points - matchup_team.projected_points

    %hr
    %ul
      %li #{@league.matchups.count} Matchups
      %li #{@league.matchup_teams.count} Team records
      %li #{@league.finished_matchup_teams.count} Finished team records
      - %w(scoring_type current_week start_week end_week playoff_start_week start_date end_date trade_end_date points_per_reception).each do |attr|
        %li
          #{attr.humanize}: #{@league.public_send(attr)}

    %h4 Past seasons:
    %ul
      - @league.past_leagues.each do |league|
        %li
          #{league.name} (#{league.start_date.year})
