%h3 Games
= link_to "Refresh", refresh_games_path, method: :post, class: "button small"

%p Users: #{User.count}
%p Leagues: #{League.count}
%p Unsynced Leagues: #{League.unsynced.count}

- if @games.empty?
  No games present. Please refresh.
- else
  %table.table
    %thead
      %tr
        %td(width="40%")
        %td Yahoo Game Key
        %td Yahoo Game ID
        %td Name
        %td Code
        %td Game Type
        %td Url
        %td Season
        %td Created At
        %td Updated At
    %tbody
      - @games.each do |game|
        %tr
          %td
            %ul.button-group
              %li= link_to "Sync Players", sync_game_path(game), method: :post, class: "button tiny"
              %li= link_to "Sync Ranking Report", sync_rankings_game_path(game), method: :post, class: "button tiny"
              %li= link_to "Link Players", link_players_game_path(game), method: :post, class: "button tiny"
              %li= link_to "Ranking Profiles", game_ranking_profiles_path(game), class: "button tiny"
          %td= game.yahoo_game_key
          %td= game.yahoo_game_id
          %td= game.name
          %td= game.code
          %td= game.game_type
          %td= link_to "link", game.url
          %td= game.season
          %td= game.created_at
          %td= game.updated_at
