!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

    %meta{property: "og:title", content: "Fantasy Football Visualizations"}
    %meta{property: "og:description", content: "This is a simple tool that gives a visualization of your draft after automatically importing your league's draft results. Colors represent the difference between where a player was picked vs their ranking, to help see which picks were good deals and which were reaches. You can compare draft picks against Yahoo's Average Draft Pick, or to Expert Consensus Rankings in either PPR or standard formats."}
    %title= content_for?(:title) ? yield(:title) : "Rosterbater - Fantasy Football Visualizations"

    = yield(:head)

    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag 'favicon.ico'

    = csrf_meta_tags
  %body
    %nav.main-nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
      .container-fluid
        .navbar-header
          %a(class="navbar-brand" href="/") Rosterbater

        %ul.nav.navbar-nav.navbar-right
          - if policy(:game).index?
            %li= link_to "Game Admin", games_path
          - if current_user
            %li= link_to "My Leagues", leagues_path
            %li= link_to "Logout", logout_path
          - else
            %li
              %a{href: "/auth/yahoo"} Sign in with yahoo

    = yield :outside_container

    .container-fluid
      = render "layouts/messages"
      = yield

      %br
      %br
      = footer_ad
      %footer.footer
        %p &copy; Rosterbater 2014

    = javascript_include_tag "application"
    = render "layouts/google_analytics"
    = yield :page_javascripts
