!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{property: "og:title", content: "Fantasy Football Visualizations"}
    %meta{property: "og:description", content: "This is a simple tool that gives a visualization of your draft after automatically importing your league's draft results. Colors represent the difference between where a player was picked vs their ranking, to help see which picks were good deals and which were reaches. You can compare draft picks against Yahoo's Average Draft Pick, or to Expert Consensus Rankings in either PPR or standard formats."}
    %title= content_for?(:title) ? yield(:title) : "Roster BAIT - Fantasy Football Visualizations"

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "vendor/modernizr"

    = csrf_meta_tags
  %body
    %nav(class="top-bar" data-topbar role="navigation")
      %ul(class="title-area")
        %li(class="name")
          %h1
            = link_to "Roster BAIT", root_path
        %li(class="toggle-topbar menu-icon")
          %a(href="#")
            %span Menu

      %section(class="top-bar-section")
        %ul(class="right")
          - if policy(:game).index?
            %li= link_to "Game Admin", games_path
          - if current_user
            %li= link_to "My Leagues", leagues_path
            %li= link_to "Logout", logout_path
          - else
            %li
              %a{href: "/auth/yahoo"} Sign in with yahoo

    = render "layouts/messages"
    .row
      .columns.large-12
        = yield
    = javascript_include_tag "application"
    = render "layouts/google_analytics"
    = yield :javascripts
    %br
    .row
      .columns.large-12.text-center
        = render "layouts/footer_ad_#{rand(1..3)}"
